.header {
	text-align: center;
	padding: var(--page-margin);
}

.main {
	display: flex;
	width: 80%;
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
	gap: var(--extra-gap);
}

.form {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	margin-bottom: var(--page-margin);
}

.form-edit {
	display: none;
}
