.header {
	text-align: center;
	padding: var(--page-margin);
}

.main {
	display: flex;
	width: 80%;
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
	gap: var(--extra-gap);
}

.filter {
	display: flex;
	gap: var(--gap);
	align-items: center;
	margin-top: var(--page-margin);
}

.filter-heading {
	font-family: var(--font-text);
}

.form {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	margin-bottom: var(--page-margin);
}

.form-edit {
	display: none;
}
