* {
	box-sizing: border-box;
	margin: 0;
}

html {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-text);
	-webkit-font-smoothing: antialiased;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-headings);
	font-family: var(--font-headings);
	font-weight: 400;
}

a {
	text-decoration: none;
	color: var(--color-plum);
	font-family: var(--font-headings);
	font-weight: 400;
}

a:hover {
	color: var(--color-light-plum);
}

button {
	background-color: var(--color-plum);
	border: none;
	padding: 0.5rem;
	color: var(--color-yellow);
	font-family: var(--font-headings);
	border-radius: 2rem;
	cursor: pointer;
}

label {
	display: flex;
	flex-direction: column;
	color: var(--color-plum);
}

input,
textarea {
	border: none;
	border-radius: 0.5rem;
}

input {
	height: 2rem;
}

label:has(input[type='radio']) {
	background-color: var(--color-light-plum);
	color: var(--color-plum);
	font-family: var(--font-headings);
	font-size: 0.8rem;
	border-radius: 2rem;
	padding: 0.5rem;
}

label:has(input[type='radio']:checked),
label:has(input[type='radio']:hover) {
	background-color: var(--color-plum);
	color: var(--color-light-plum);
}

label:has(input[type='radio']:not(:checked)) {
	cursor: pointer;
}

input[type='radio'] {
	appearance: none;
	height: 0;
	width: 0;
}
