:root {
	--color-pink: #f89cea;
	--color-yellow: #fbe463;
	--color-white: #f5f5f5;
	--color-plum: #85094b;
	--color-light-plum: #bb0e6a;

	--color-text: var(--color-white);
	--color-headings: var(--color-yellow);
	--color-background: var(--color-pink);

	--font-headings: 'Oi', serif;
	--font-text: 'Lexend', sans-serif;
}
